<footer id="global-footer">
  <nav id="footer-nav" role="navigation">
    <div class="clearfix"></div>
    <span class="poweredby"> © {{date published_at format="YYYY"}}, <a href="http://askmetisa.com">Metisa</a>, by <a href="http://altitudelabs.com">Altitude Labs</a>. Made with love in Hong Kong and San Francisco. </span>
    <ul id="social-menu">
      <li class="twitter"><a href="https://twitter.com/altitudelabs"><span class="hidden">Twitter</span></a></li>
      <li class="facebook"><a href="https://www.facebook.com/altitudelabs"><span class="hidden">Facebook</span></a></li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</footer>
