<section class="share">
  {{> share/post/twitter}}
  {{> share/post/linkedin}}
  {{> share/post/facebook}}
  {{> share/post/gplus}}
  {{!-- {{> share/post/pocket}} --}}
  {{!-- {{> share/post/pinterest}} --}}
</section>
