<a href="http://askmetisa.com" class="twitter-box twitter-box-main widget">
    <div class="twitter-box-profilepic"><img src="{{asset "images/logo.png"}}" alt="Twitter profile picture" /></div>
    <img class="twitter-box-coverpic" src="{{asset "images/metisalovebg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
    <div class="twitter-box-content">
        <h4>Try Metisa</h4>
        <p>The artificial intelligence engine for retail marketing</p>
    </div>
</a>