<section class="popular-posts widget">
  <h3>Best of Metisa Blog</h3>
  <ol>
    <li><a href="https://askmetisa.com/blog/lifecycle-marketing">
      <span class="number" aria-hidden="true">1</span>Marketing made easy. The complete guide to e-commerce lifecycle marketing
    </a></li>
    <li><a href="https://askmetisa.com/blog/customer-acquisition-and-retention-strategies">
      <span class="number" aria-hidden="true">2</span>10 practitioners share their favorite scalable customer acquisition and retention strategies in 2017
    </a></li>
    <li><a href="https://askmetisa.com/blog/how-data-science-can-multiply-your-online-store-sales/">
      <span class="number" aria-hidden="true">3</span>How data science can multiply your online store sales
    </a></li>
    <li><a href="https://askmetisa.com/blog/o2o-retail">
      <span class="number" aria-hidden="true">4</span>From offline to online (O2O): Tackling every retailer’s big challenge
    </a></li>
    <li><a href="https://askmetisa.com/blog/20-tips-for-epic-ecommerce-growth">
      <span class="number" aria-hidden="true">5</span>20 tips for epic e-commerce growth
    </a></li>
    <li><a href="https://askmetisa.com/blog/asia-pacific-ecommerce-market">
      <span class="number" aria-hidden="true">6</span>We analyzed 370 e-commerce sites in Asia: here’s what we found
    </a></li>
  <ol>
</section>
