$blog-description-color   : $darkgreen;

$subscribe-banner-color   : $red;
$selection-color          : lighten($orange, 36%);
$tag-color                : rgba($orange, .7);

$feature-one-color        : $green;
$feature-one-color-dark   : $darkgreen;
$feature-two-color        : $blue;

$link-hover-color         : $green;

$header-color             : #303538;
